Homepage=//li[text()='Home']
Homepage_heading=//font[text()='Ace Online Shoe Portal']
Click_HamburgerMenu=//input[@type='checkbox']
Navigate_loginPage=//li[text()='Sign In Portal']
Navigate_onlineproductpage=//li[text()='Online Products']
Enter_username=//input[@id='usr']
Enter_password=//input[@id='pwd']
Click_loginbutton=//input[@value='Login']
Click_newuserregistration=//button[@id='NewRegistration']
Click_formalshoedropdown=//i[@class='fa fa-angle-double-down formalshoedropdown']
GetText_LoggedInPage=(//h3[@id='ShoeType'])[1]
GetText_firstformalshoename=((//table[@class='table table-striped thead-dark formalshoetable']//tr)[2]//td)[1]
GetText_userregistrationpage=//h1[text()='User Registration Page']
